.container {
  width: min(80vw, 1440px);
  margin: 0 auto;
  position: relative;
}

.flex-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  gap: 5vw;
}
.grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 5vw;
  padding: 4rem 0;
}
