header nav {
  display: flex;
  gap: clamp(2rem, 3vw, 4rem);
  list-style: none;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
.link-menu {
  color: var(--white);
  position: relative;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.link-menu::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: var(--white);
  left: 0;
  transition: all 0.3s ease;
  bottom: -5px;
}
.link-menu:hover::after {
  width: 100%;
}
.link-menu:hover {
  opacity: 1;
}
header .container-logo img {
  width: clamp(4rem, 20vw, 12rem);
}

section div:nth-child(1).flex-display {
  flex-direction: column;
}
.bg-blue {
  background: var(--dark-blue-email-background)
    url(../images/bg-curvy-desktop.svg) no-repeat bottom;
  background-size: contain;
}
.container-img img {
  width: 110%;
  margin-bottom: 2rem;
}
.content {
  text-align: center;
}

.cards {
  text-align: center;
  max-width: 350px;
}
.cards .title-card {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.productive-img {
  width: 50%;
}
.link-works {
  color: var(--cyan);
  border-bottom: solid 1px var(--cyan);
  padding-bottom: 4px;
  transition: all 0.2s ease;
}
.link-works svg {
  vertical-align: middle;
}
.link-works:hover {
  color: var(--white);
  border-bottom: solid 1px var(--white);
  padding-bottom: 7px;
}
.link-works:hover svg use {
  fill: var(--white);
}

.decoration {
  position: absolute;
  top: 7%;
  left: -2%;
}
.depoiments {
  z-index: 1;
  background-color: var(--dark-blue-testimonials-background);
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 0 3px var(--dark-blue-email-background);
  -moz-box-shadow: 3px 3px 0 3px var(--dark-blue-email-background);
  box-shadow: 3px 3px 0 3px var(--dark-blue-email-background);
}
.depoiments .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.depoiments .user .img-user img {
  border-radius: 100%;
  width: 3rem;
}

.banner-section {
  height: 20rem;
}

.banner-email {
  text-align: center;
  padding: 5rem 5vw;
  width: min(100%, 75rem);
  background-color: var(--dark-blue-email-background);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 7px 3px rgba(0, 0, 0, 0.548);
  -moz-box-shadow: 4px 3px 7px 3px rgba(0, 0, 0, 0.548);
  box-shadow: 4px 3px 7px 3px rgba(0, 0, 0, 0.548);
}

.banner-email form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.banner-email form input {
  width: 80%;
  border-radius: 30px;
  padding: 1.2rem 3rem;
  border: none;
  outline: none;
}
.banner-email form input::placeholder {
  font-weight: bold;
  opacity: 0.8;
}

footer {
  padding: 15rem 0 5rem 0;
  background-color: var(--dark-blue-footer);
}
footer .footer-row2 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}
footer .footer-row2 i {
  margin-right: 1rem;
}
footer .footer-row2 .local {
  flex: 0 0 20%;
}
footer .footer-row2 p {
  margin-bottom: 1rem;
}
footer .footer-row2 .pages a {
  color: var(--white);
  opacity: 0.7;
  transition: all 0.2s;
}
footer .footer-row2 .pages a:hover {
  opacity: 1;
}
footer .footer-row2 .social-icons i {
  font-size: 1.5rem;
  color: var(--white);
  border: solid white 1px;
  padding: 10px;
  border-radius: 50%;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.social-icons a:nth-child(2) {
  margin: 0 1rem;
}
footer .footer-row2 .social-icons i:hover {
  color: var(--cyan);
  border: solid var(--cyan) 1px;
}
